:host {
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    width: 100%;
    max-width: 30rem;
    height: 30rem;
    padding: 2rem;
    flex-direction: column;
    justify-content:space-evenly;
    background-color: cadetblue;
    input, button {
        padding: 1rem;
        font-size: 1rem;
    }
    button {
        color: white;
        background-color: darkgreen;
    }
}